@import "./variables.scss";
@import "./responsive.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .main {
    font-family: "Inter", sans-serif;
    background-color: $main-bg;
    color: $main-color;
  }

  .container {
    display: flex;
  }

  .menuContiner {
    width: 180px;
    padding: 5px 20px;
    border-right: 2px solid $soft-bg;

    @include lg {
      width: max-content;
    }
  }

  .contentContainer {
    padding: 5px 5px;
    width: 100%;
  }

  .loader {
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid rgb(56, 56, 180);
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 